<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="JUnit 4"
            parentCategory="org.eclipse.jdt.ui.java"
            id="org.eclipse.jdt.junit4">
      </category>
      <wizard
            category="org.eclipse.jdt.ui.java/org.eclipse.jdt.junit4"
            class="de.abg.jreichert.junit4runner.NewTestSuite4CreationWizard"
            icon="$nl$/icons/full/etool16/new_testsuite.gif"
            id="de.abg.jreichert.junit4runner.NewTestSuite4CreationWizard"
            name="JUnit 4 Test Suite">
         <description>
            Create a JUnit 4 Test Suite
         </description>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.ICompilationUnit"
            nameFilter="*Tests.java"
            id="org.eclipse.jdt.junit.wizards.UpdateTestSuite4">
         <action
               label="Recreate JUnit 4 Test Suite..."
               class="de.abg.jreichert.junit4runner.UpdateTestSuite4"
               tooltip="Recreate JUnit 4 TestSuite with New Test Classes"
               enablesFor="1"
               id="updateTestSuite">
         </action>
      </objectContribution>
   </extension>
   
</plugin>
